body {
    width: fit-content;
}

nav {
    display:flex;
    gap: 30px;
    background-color: rgb(250, 237, 239);
    border: 5px solid rgb(37, 37, 92);
    justify-content:center;
}

a {
    font-size: 20px;
    color: rgb(37, 37, 92);
    font-weight: bold;
    padding: 10px;
}

img {
    width: 150px;
    border-radius: 3%;
    border: 3px solid rgb(37, 37, 92);
}

hr {
    background-color: rgb(37, 37, 92);
    height: 2px;
    border: none;
}